<!DOCTYPE html>
<html>
<head>
	<title>Conta corrente</title>
</head>
<style>
.menu
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li{ 
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 9px;
  margin: 20px;
  text-decoration: none;
  font-family: verdana;
}

</style>
<body>
<div class="menu">
 <ul>
  <li><a href="/saque">SAQUE</a></li>
  <li><a href="/deposito">DEPOSITO</a></li>
  <li><a href="/saldo">SALDO</a></li>

</ul>
</body>
</html>