<!DOCTYPE html>
<html>
<head>
	<title>Deposito</title>
</head>
<body>
	<form action="/depositoresult" method="POST">
			<p>Nome <input type ="text" name="Name"/></p>
			<p>Sobrenome <input type ="text" name="sobrenome"/></p>
			<p>email <input type ="text" name="email"/></p>
			<p>Data de nascimento <input type ="date" name="nascimento"/></p>
			<p>Dinheiro para o deposito <input type ="text" name="dinheiro"/></p>
			<p><input type="submit" value="submit"></p>
		</form>
</body>
</html>